.card {
    width: 360px;
    height: 300px;
    border-radius: 20px;
    background-color: rgb(39, 36, 36);
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.05);
}
.card img {
    border-radius: 20px 20px 0 0;
    position: relative;
    height: 180px;
    object-fit: cover;
    width: 100%;
}
p {
    cursor: pointer;
}
.card-text {
    padding-top: 10px;
    padding-left: 10px;
}
.added {
    color: turquoise;
}
