* {
    margin: 0px;
    padding: 0px;
}
.app {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    position: relative;
    overflow: hidden;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.dropdown {
    z-index: 2;
    height: 100vh;
    width: 350px;
    background-color: rgb(32, 32, 32);
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.dropdown-top {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.dropdown-top h2 {
    font-weight: 800;
}
#total {
    padding: 30px;
}

.dropdown {
    opacity: 0;
    transform: translateX(100%);
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}
.dropdown.show {
    opacity: 1;
    transform: translateX(0);
}
/* route transitions */
.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}
.cart {
    flex: 1;
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    gap: 20px;
}
.cart::-webkit-scrollbar {
    display: none;
}
.cartmenu-cont {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 300px;
    background-color: rgb(38, 38, 38);
    border-radius: 15px;
    gap: 20px;
    flex-shrink: 0;
}

.cartmenu-cont p {
    width: 140px;
}
/* additions*/

.cartmenu-cont {
    flex-direction: column;
}

.cartmenu-cont img {
    border-radius: 15px;
    width: 130px;
    height: 100px;
    object-fit: cover;
}
.cart-bottom {
    display: flex;
    align-items: center;
}
.trash-icon {
    position: absolute;
    top: 10px; /* Adjust as needed for positioning */
    right: 10px; /* Adjust as needed for positioning */
    color: white;
    cursor: pointer;
}
